
// Body
$body-bg: #f8fafc;

$fa-font-path: "../webfonts";


// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// NLUIS Color Codes
$nluis_dashgray : #669999;
$nluis_dashgreen : #399c63;
$nluis_dashgold : #d8a306;
$nluis_dashred: #cc0000;

.nluis_darkgold{
    color: $nluis_dashgold;
}

.nluis_lightgray{
    color: $nluis_dashgray;
}
.nluis_darkgreen{
    color: $nluis_dashgreen;
}


.blue{
    color: $blue;
}


.blue{
    color: $blue;
}

.indigo{
    color: $indigo;
}

.purple{
    color: $purple;
}

.pink{
    color: $pink;
}

.red
{
    color: $red;
}
.orange{
    color: $orange;
}

.yellow{
    color: $yellow;
}

.green{
    color: $green;
}

.teal{
    color: $teal;
}

.cyan{
    color: $cyan;
}

